@font-face {
    font-family: 'Fixel';
    src: url('/static/fonts/Fixel/FixelVariable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fixel';
    src: url('/static/fonts/Fixel/FixelVariableItalic.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}