:root {
    --app-background: #12101A;
    --border-subtle: rgba(255, 255, 255, 0.15);
    --text-color: #FFFFFF;
}

html, body {
    margin: 0;

    width: fit-content;
    height: fit-content;

    color: var(--text-background);
    /* background-color: var(--app-background); */
    background-color: transparent;
}

body {
    padding: 1px;
}
